@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: #eee;
        --main-text-color: #333;
        --main-border-color: #444;
    }
  }
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #333;
        --main-text-color: #eee;
        --main-border-color: #ddd;
    }
  }
*{
  margin: 0px;
  font-size: 16px;
}

html,body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0px 0px 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
}

div#menu{
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0px;
    left: 10px;
    height:20px;
    padding:0px 10px 0px 10px;
}

label{
    font-size: 12px;
    cursor: pointer;
}

input#open{
    display: none;
}

#save{
    font-size: 12px;
    cursor: pointer;
}
#clear{
    font-size: 12px;
    cursor: pointer;
}

div#textarea{
    display: block;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--main-border-color);
    overflow-x: hidden;
    overflow-y: scroll;
}
