#pullnav a {
    position: absolute;
    top: -35px;
    transition: 0.3s;
    padding: 25px 5px 0px 5px;
    width: 100px;
    height: 25px;
    text-decoration: none;
    text-align:center;
    font-size: 14px;
    border-radius: 0px 0px 5px 5px;
}

#pullnav a:hover {
    top: 0;
}

#clear {
    right: 260px;
    background-color: #f31921;
    color: #020;
}
#save {
    right: 150px;
    background-color: #21f396;
    color:  #020;
}

#load {
    right: 40px;
    background-color: #2196f3;
    color: #020;
}
